@model SecuritySystem.Data.Picture

@{
    ViewBag.Title = "AddImage";
}


@using (Html.BeginForm("AddImage","Picture",FormMethod.Post, new { enctype= "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>Upload Image</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PictureFile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               <input type="file" id="image1" class="btn btn-secondary" style="color: #010743" name="image1"/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImageName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ImageName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-primary" style="background-color:#010743"/>
  
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("View Your Images", "DisplayImage")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
