@model SecuritySystem.Data.Picture

@{
    ViewBag.Title = "Delete";
}
<br/>
<h3>Are you sure you want to delete this image?</h3>
<div>

    <hr />

            @{
                var base64 = Convert.ToBase64String(ViewBag.DecryptedPictureFile);
                var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
            }
            
                <a href="@imgsrc"><img src="@imgsrc" class="img img-thumbnail img-responsive" style="width:400px; height:400px;"></a>
               @* @Html.ActionLink("Delete", "Delete", new { id = Model.PictureID })*@



    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <br />
        <br />
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
