@model SecuritySystem.Data.Picture

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Picture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PictureFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DecryptKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DecryptKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PictureID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
